html {
  text-size-adjust: 100%;
}

body {
  margin: 10px;
  font: 16px / 1 sans-serif;
}
h6 {
  color: transparent;
}
.navbar {
  background-color: #F5F5F5;
  padding-bottom: 20px;
  display:flex;
  font-family: Helvetica, sans-serif;
}
.border {
  border-top-color: red;
  border-top-style: solid;
  margin-left: 100px;
  margin-right: 100px;
  justify-content: center;
}
ul {
  list-style-type: none;
  display: flex;
  align-content: space-between;
  padding-top: 30px;
  margin-left: 60px;
}
a:link {
  text-decoration: none;
  padding: 20px;
  color: black;
}
.search {
  align-content: space-between;
  height: 35px;
  width: auto;
  padding-left: 35em;
  padding-top: 15px;
}
.DESIGNCO {
  font-weight: bold;
}
header {
  text-align:center;
}
header h1 {
  font-size: 50px;
}
header h2 {
  font-weight: lighter;
}
